
.bottomAreaWrap {
  height: 105px;
  .bottomArea {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    .item {
      font-size: $fs36;
      padding: 20px;
      background-color: $mainColor;
      color: #fff;
      flex: 1;

      // &.btnGray {
      //   background-color: #2196F3;
      // }
    }
  }
}